TOKEN="Botのtoken"
DATABASE_URL="sqlite+aiosqlite:///data/tomato.db" # BotがDBを保存する場所

# `/このボットについて`コマンドを実行した時の返信のオーバーライド
ABOUT_TEXT=
# `/使い方`コマンドを実行した時の返信のオーバーライド
HELP_TEXT=
# ローディング時に表示する絵文字のオーバーライド
LOADING_EMOJI=

# macOSユーザーなら
OPUS_LIB_PATH="/opt/homebrew/Cellar/opus/1.6.1/lib/libopus.dylib"
